* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

  text-shadow: 5 5 100px rgb(0, 2, 0);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #65f66c 0%, #85c7fd 100%);
}

.pluie {
  background-image: url("./assets/img/pluie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
  color: rgb(255, 255, 255);
}
.foudre {
  background-image: url("./assets/img/foudre.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
}
.neige {
  background-image: url("./assets/img/neige.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
}
.nuage {
  background-image: url("./assets/img/nuage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
  color: rgb(6, 74, 114);
}
.soleil {
  background-image: url("./assets/img/sun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
}
.brume {
  background-image: url("./assets/img/brume.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 700px;
  border-radius: 12px;
  color: rgb(167, 204, 3);
}
