@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Crimson Pro', sans-serif;
    font-size: 150%;
}

.landing{
    background-image: url('librairy.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

h1, p {
    text-align: center;
    color : wheat;
    text-shadow: black 3px 3px 3px;
    font-weight: bolder;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button{
    text-decoration: none;
    text-shadow: black 3px 3px 3px;
    color: wheat;
    padding: 9px;
    border : 2px solid wheat;
    border-radius: 7px;
}

/* Customise le label : container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Cacher la checkbox par défaut du navigateur */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Creer une checkbox customisée*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
/* Quand la souris survol, ajouter un fond gris */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}